extends layout

block content
  body(class="body_background_login")
  h1= title
    h1 Pagina para Generar Querys
    div.container.text-center
      h1 Query Form
      form(action="/query", method="POST")
        .form-group
          label(for="query") Query solicitado:
          textarea(name="query", id="query", class="form-control", required)
        button.btn.btn-primary(type="submit" class="btn btn-success") Ejecutar Query